{erl_opts, [debug_info, {src_dirs, ["test/unit",
                                    "test/integration",
                                    "test/system"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test/unit",
               "test/integration",
               "test/system",
               "src"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "master"}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", "master"}},
   {lunit, ".*", {git, "git://github.com/lfex/lunit.git", "master"}},
   {exemplar, ".*", {git, "git://github.com/lfex/exemplar.git", "master"}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git", "master"}},
   {'reveal-js', ".*", {git, "https://github.com/lfex/lfe-reveal-js.git",
      "master"}}
  ]}.
