(defmodule {{PROJECT}}-util
  (export all))

(defun get-{{PROJECT}}-version ()
  (lutil:get-app-src-version "src/{{PROJECT}}.app.src"))

(defun get-versions ()
  (++ (lutil:get-version)
      `(#({{PROJECT}} ,(get-{{PROJECT}}-version)))))
