(defmodule {{PROJECT}}-routes
  (export all))

(include-lib "deps/exemplar/include/html-macros.lfe")

(defun routes
  "2-arity routes for our app."
  ;; /
  (((list '"") arg-data)
    (: {{PROJECT}}-content get-content arg-data))
  ;; /content/:id
  (((list '"content" item-id) arg-data)
    (: {{PROJECT}}-content get-content item-id arg-data))
  ;; potentially many other routes
  ;;
  ;; When nothing matches, do this
  ((path arg-data)
    (: io format
      '"Unmatched route!~n Path-info: ~p~n arg-data: ~p~n~n"
      (list path arg-data))
    (: {{PROJECT}}-content four-oh-four
      (++ (strong '"Unmatched Route: ") '"/" (: string join path '"/")))))
