Script: $script, v$version
Usage: $fullpath <command> <context> <arg> | <options>

Currently, $script supports these commands:
 * help
 * version
 * install
 * update
 * new

Additionally, instead of passing a command, you may choose to run the script
with one of the following options:
 -h    display this usage message and exit
 -v    display the version number and exit

These commands are documented on the project page here:
  https://github.com/lfe/lfetool
