Script: {{SCRIPT}}, v{{VERSION}}

Usage: {{FULLPATH}} <command> <context> [<arg> | <context command> <arg>] | <options>

Currently, {{SCRIPT}} supports these commands:
 * help
 * version
 * extract
 * install
 * update
 * new
 * tests

The install command accepts the following contexts:
 * lfetool (or no parameter/empty string)
 * lfe
 * erlang
 * kerl
 * rebar
 * relx

The new command accepts the following contexts:
 * script
 * library
 * service
 * yaws

The yaws context accepts the following commands:
 * default
 * bootstrap

The tests command accepts the following contexts:
 * build
 * unit
 * integration
 * system

Additionally, instead of passing a command, you may choose to run the script
with one of the following options:
 -h    display this usage message and exit
 -v    display the version number and exit

If you are running the compressed {{SCRIPT}}, the following options are also
available:
 -x    extract the compressed lfetool source and use that instead of
       the wrapper

These commands are documented on the project page here:
  https://github.com/lfe/lfetool
