Script: {{SCRIPT}}, v{{VERSION}}

Usage: {{FULLPATH}} <command> <context> [<arg> | <context command> <arg>] | <options>

Currently, {{SCRIPT}} supports these commands (with subcommands nested):
 * help
 * version
 * extract
 * install
   * lfetool (or no parameter/empty string)
   * autocomplete
   * lfe
   * erlang
   * erjang
   * kerl
   * relx
   * rebar
   * expm
 * update
   * lfetool (or no parameter/empty string)
   * deps
 * new
   * script
   * library
   * service
   * yaws
     * default (or no parameter/empty string)
     * bootstrap
 * tests
   * build
   * unit
   * integration
   * system
   * all
   * clean
 * repl
    * lfe (or no parameter/empty string)
    * erlang
    * jlfe
    * jerl
 * info
    * erllibs
    * path
    * installdir
    * version

Additionally, instead of passing a command, you may choose to run the script
with one of the following options:
 -h    display this usage message and exit
 -v    display the version number and exit

If you are running the compressed {{SCRIPT}}, the following options are also
available:
 -x    extract the compressed lfetool source and use that instead of
       the wrapper

These commands are documented on the project page here:
  https://github.com/lfe/lfetool

Example:
  {{SCRIPT}} install lfetool /usr/local/bin
  {{SCRIPT}} new library my-first-project
  {{SCRIPT}} new service my-otp-app1
  {{SCRIPT}} new yaws default my-yasw-app1
