Script: {{SCRIPT}}, v{{VERSION}}

Usage: {{FULLPATH}} <command> <context> [<arg> | <context command> <arg>] | <options>

Currently, {{SCRIPT}} supports these commands (with subcommands nested):
 * help
 * version
 * extract
 * install
   * lfetool (or no parameter/empty string)
   * autocomplete
   * lfe
   * erlang
   * kerl
   * rebar
   * relx
 * update
 * new
   * script
   * library
   * service
   * yaws
     * default (or no parameter/empty string)
     * bootstrap
 * tests
   * build
   * unit
   * integration
   * system
   * all
   * clean
 * repl
    * lfe (or no parameter/empty string)
    * erlang

Additionally, instead of passing a command, you may choose to run the script
with one of the following options:
 -h    display this usage message and exit
 -v    display the version number and exit

If you are running the compressed {{SCRIPT}}, the following options are also
available:
 -x    extract the compressed lfetool source and use that instead of
       the wrapper

These commands are documented on the project page here:
  https://github.com/lfe/lfetool
